{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <h1>Blog</h1>
    <h2>{{ post.title }}</h2>
    <a href="{{ path('category-bySlug', {slug: post.category.slug}) }}" class="badge bg-primary">{{ post.category.title }}</a>
    <small class="text-black-50">{{ post.publishedDate|date }}</small>
    <p class="mt-3">{{ post.content }}</p>
    <div class="mt-2">Auteur : <a href="{{ path('author-bySlug', {slug: post.author.slug}) }}">{{ post.author.firstname }} {{ post.author.lastname }}</a></div>

    {% if app.user %}
        <a href="{{ path('post-editById', {id: post.id}) }}" class="btn btn-warning btn-lg">Editer</a>
    {% endif %}
    <div class="mt-5">
        <h3>Commentaires</h3>

        {% if app.user %}
            <div class="card mb-3">
                <div class="card-header">
                    Ajouter une réponse
                </div>
                <div class="card-body">
                    {{ form_start(postCommentForm) }}
                        <input type="hidden" name="parent_post_comment_id" value="0" />
                        {{ form_row(postCommentForm.title) }}
                        {{ form_row(postCommentForm.content) }}

                        <button type="submit" class="btn btn-outline-primary btn-submit">Ajouter un commenter</button>
                        <button type="submit" class="btn btn-outline-primary btn-reply-submit">Répondre au commentaire</button>
                    {{ form_end(postCommentForm) }}
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning">Veuillez vous connecter pour envoyer un commentaire.</div>
        {% endif %}

        {% for comment in comments %}
            <div class="card mb-3">
                <div class="card-header">{{ comment.title }}</div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ comment.content }}</p>
                        <footer class="blockquote-footer mt-3">{{ comment.date|date('d/m/Y H:i') }} <cite title="{{ comment.author.firstname }} {{ comment.author.lastname }}">{{ comment.author.firstname }} {{ comment.author.lastname }}</cite></footer>
                    </blockquote>

                    {% if app.user %}
                        <button type="button" data-comment-id="{{ comment.id }}" class="btn mt-3 btn-outline-secondary btn-reply">Répondre</button>
                    {% endif %}
                    {% if comment.replies|length > 0 %}
                        <div class="mt-3">
                            <h4>Réponses</h4>
                            {% for reply in comment.replies %}
                                <div class="card mb-3">
                                    <div class="card-header">{{ reply.title }}</div>
                                    <div class="card-body">
                                        <blockquote class="blockquote mb-0">
                                            <p>{{ reply.content }}</p>
                                            <footer class="blockquote-footer mt-3">{{ reply.date|date('d/m/Y H:i') }} <cite title="{{ reply.author.firstname }} {{ reply.author.lastname }}">{{ reply.author.firstname }} {{ reply.author.lastname }}</cite></footer>
                                        </blockquote>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            var $parentPostComment = $('input[name=parent_post_comment_id]'),
                $btnSubmit = $('.btn-submit'),
                $btnReplySubmit = $('.btn-reply-submit');

            $btnSubmit.hide();
            $('.btn-reply').on('click', function(event) {
                event.preventDefault();
                $parentPostComment.val($(this).attr('data-comment-id'));
                $btnSubmit.hide();
                $btnReplySubmit.show();
            });
        })
    </script>
{% endblock %}